
@import './layout/mixin.scss';
 


 

.allproducts-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color:var(--bs-lightgray);
    padding: 0 15px 0 0;

    .modal-content {
      border-radius: 4px;
    }
}

.allprod-wrapprod-cont,
.allprod-filters-cont {
    display: flex;
    position: relative;
}

.allprod-filters-cont {
    width: 375px;
    min-height: 350px;
    background-color: var(--bs-lightgray);
    transition: none;
    transform: translateX(0);
    padding: 5px 0;
}
.allprod-wrapprod-cont {
    width: 100%;
    min-height: 900px;
    padding: 5px;
}
.allprod-filters-cont-wrap {
    width: 100%;
    min-height: 450px;
    flex-direction: column;
    padding: 0;
    @include displayFlex();
    justify-content: flex-start;
    .ap-filbox-activefilters-wrap {
      display: none;
    }
}

.ap-filbox-activefilters-wrap {
  width: 100%;
  @include displayFlex();
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
.allprod-filteredterms-wrp {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.allprod-filter-term {
  font-size: 14px;
  border:1px solid var(--bs-orange);
  border-radius: 5px;
  margin:3px 4px 3px 0;
  padding: 0 6px 0 3px;
  cursor: pointer;
  
  i {
    font-size: 10px;
    color: var(--bs-darkgray);
    pointer-events: none;
    margin-right: 5px;
  }
  &:hover {
    opacity: 0.9;
  }
}
.ap-filbox-afilwrp-title {
  width: 100%;
  height: 55px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 16px;

  }
  .allprod-afilwrpd-activefil-deleteallfilters {
    font-size: 13px;
    cursor: pointer;
    padding: 3px;
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
  }
 
}
.allprod-filter-box {
    width: 95%;
    @include displayFlex();
    flex-direction: column;
    margin-bottom:10px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding:5px 0 5px 0;
}
.loading-allprod-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  left:0;
  top:0;
  z-index: 5;
  @include displayFlex();
  display: none;
 
}
.allprod-fbox-wrap {
    width: 95%;
    max-height: 500px;
  transition: max-height .5s ease-in-out;
  overflow: hidden;
    .form-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5px;
      width: 100%;
      line-height: 1.5;

      span {
          color: var(--bs-darkmedium);
          font-size: 13px;
      }
      &:hover {
        label {
          opacity: 0.8;
        }
      }
    }
    
    .form-group input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    
    .form-group label {
      position: relative;
      cursor: pointer;
      width: 100%;
      margin-right: 5px;
      font-size: 17px;
      
    }
    
    .form-group label:before {
      content:'';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid var(--bs-darkmedium);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin:-4px 5px 0 0;
      border-radius: 2px;
    }
    
    .form-group input:checked {
      &+label {
        &:after  {
          content: '';
          display: block;
          position: absolute;
          top:5px;
          left: 6.5px;
          width: 6px;
          height: 12px;
          border: solid var(--bs-orange);
          border-width: 0 2.5px 2.5px 0;
          transform: rotate(45deg);
      }
      &:before {
        border:2px solid var(--bs-orange);
      }
      }
    }
}
.hide-filter-box {
  overflow: hidden;
  max-height: 0;
}
 

.ap-filbox-title {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    @include displayFlex();
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;

    span {
      pointer-events: none;

      i {
        transform: rotate(90deg);
        transition: transform 0.3s;
      }
    }
    .rotate-arrow {
      transform: rotate(0deg);
    }
}
#allprod_filter_slider {
    -webkit-appearance: none;
    appearance: none;
    height: 8px !important;
    width: 100%;
    border-radius: 10em;
    background-color: var(--bs-orange);
    outline: none;
    margin-top:15px;
  }
  
  #allprod_filter_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--bs-darkgray);;
    cursor: pointer;
    border: 3px solid #f4f4f4;
  }
  
  
  #allprod_filter_slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bs-darkgray);
    cursor: pointer;
    border: 3px solid #f4f4f4;
  }
  
  .allprod-filter-wrap-inputprices {
    width: 100%;
    @include displayFlex();
    justify-content:flex-end;
    margin:10px 0 10px 0;

    div {
    
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;

        span {
            width: 60px;
            height: 30px;
            position: relative;
            margin-left:5px;
            overflow: hidden;
            border:1px solid #000;
            border-radius: 4px;
            
            input {
                position: absolute; 
                width: 100%;
                height: 100%;
                left:0;
                top:0;
                outline: 0;
                border:0;
                text-align: center;
                background-color: transparent;
              
                
            }
        }

        &:nth-child(2) {
 
            justify-content: flex-end;
        }
    }
  }

  .allprod-box-wrapcolor {
    width: 100%;
    @include displayFlex();
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-end;
    padding: 0 0 0 0;
 
 
  }
  .allprod-fbox-wrapcolor {
    &:hover {
      overflow: visible;
    }
  }
  .ap-box-filbox-color {
    position: relative;
    width: 30px;
    height: 30px;
    border:1px solid var(--bs-lightgray);
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;

    .apbox-filbox-colname {
      position: absolute;
      top:-15px;
      left:50%;
      transform: translateX(-50%);
      font-size: 11px;
      color: #fff;
 
      background-color: var(--bs-darkgray);
      padding:2px 3px 2px 3px;
      border-radius: 4px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;

      &:before{
        content: "";
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        display: block;
        border-top: 5px solid #000;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -6px;
      }

    }

    &:hover {
      
      border:1px solid var(--bs-darkgray);

      .apbox-filbox-colname {
        opacity: 1;
        top:-30px;
      }

  }
  }

  .highlight-color {
    border: 2px solid var(--bs-orange);
  }
  
  .allprod-fbox-availability,
  .allprod-fbox-brand,
  .allprod-fbox-subcat {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .fbox-subcat-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border:1px solid green;
    cursor: pointer;

    &:hover {
      background-color: #bcbcbc;
    }
     img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      pointer-events: none;
     }
     span {
      pointer-events: none;
      width: 100%;
     }
  }
  .active-subcathight {
    background-color: #bcbcbc;
    font-weight: bold
  }

  // --- PRODUCTS CONTAINER --- //
  .allprod-wrapprod-cont {
    @include displayFlex();
    justify-content: flex-start;
    flex-direction: column;
  }
  .allprod-wrprod-cont-head {
    min-height: 50px;
    width: 100%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .allprod-wrprdhead-topwrp {
    min-height: 30px;
    width: 100%;
     border-bottom: 1px solid var(--bs-lightgray);
     margin-bottom: 5px;
  }
  .allprod-wrprdhead-toprwp-prodlistview {
    font-weight: bold;
    font-size: 17px;

   
  }
  .allprod-wrprdhead-bottomrwp,
  .allprod-wrprdhead-sortby {
    @include displayFlex();
  }
  .allprod-wrprdhead-bottomrwp {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px 0;
     
    span {
      margin-right: 5px;
    }
    .view-list-button {
      border-radius: 5px;
      width: 27px;
      height: 27px;
      
      svg {
        pointer-events: none;
      }
    }
  }
 
  .view-selected {
    border:1px solid var(--bs-lightgray) !important;
 
  }

  .allprod-wrprdhead-sortby {
    width: 300px;
    max-width: 100%;
    height: 100%;

    .input-group-addon {
      background-color: var(--bs-lightgray);
      font-size: 14px;
      height: 100%;
      padding: 5px 5px 3px 5px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      @include displayFlex;
    }
    select {
      position: relative;
      background: rgba(255, 255, 255, 1) !important;
      border-width: 1px !important;
      border-style: solid !important;
      border-color: rgba(226, 226, 226, 1) !important;
      border-radius: 3px;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius:0 !important;
      max-width: 500px;
      width:200px;
      height: 100%;

      &:focus  {
        box-shadow: none;
      }
          }
  }
  .sortby-mobile-modal {
    @include displayFlexColumn();
  }
  .sortby-mobmod-button {
    border-bottom: 1px solid var(--bs-lightgray);
    width: 100%;
    text-align: left;
    padding: 8px 3px;
    @include displayFlex();
    justify-content: flex-start;

    &:hover {
      color: #000;
    }
    &:active {
      color: var(--bs-orange);
    }
    svg {
      color: var(--bs-orange);
      height: 100%;
      margin-left: 5px;
    }
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
  }

  .allprod-wrprhead-mobfilter {
    width: 100%;
    margin-right: 15px;
    border:1px solid var(--bs-lightgray);
    height: auto;
    padding: 3px 5px;
    @include displayFlexColumn;
    align-items: center;
    display: none;
    transition: border 0.2s;

    span {
      font-size: 14px;
      font-weight: bold;
      &:nth-of-type(2) {
        font-size: 11px;
        font-weight: normal;
      }
    }
    &:hover {
      border:1px solid var(--bs-darkgray);
    }
    &:active {
      border:1px solid var(--bs-orange-hover);

      span {
        &:first-of-type {
          color: var(--bs-orange-hover);
        }
      }
    }
  }

  .allprod-wrpd-wrapper {
    position: relative;
    width: 100%;
    min-width: 280px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
.allprod-wrpd-wrapper-loading {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #fff;
  @include displayFlex();
  align-items: flex-start;
  padding-top:150px;
  color: var(--bs-orange-hover);
 
}
  .allprod-wrpdwrap-proditem {
    @include displayFlex();
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 3px;
    margin-top:8px;
  }
   
  .allprod-loading-container,
  .allprod-loading-container-first {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: #fff;
    z-index: 5;
  
  }
  .allprod-loading-container-spinner {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

    .spinner-border {
      border:solid var(--bs-orange);
      border-right-color: transparent;
    }
  }
  .allprod-empty-cont {
    width: 100%;
    min-height: 700px;
    @include displayFlex();
    background-color: #fff;
margin-top: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
position: relative;
  }
  .allprod-wrpdwrap-proditem-grid {
    width: 100%;
    max-width: 400px;
    max-height: 420px;
    max-width: 33.33%;
    flex-basis: 33.33%;
  }
  .allprod-product-thumb {
    @include displayFlex();
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
      background-attachment: scroll;
    border-radius: 4px;
    min-width: 0;
    position: relative;
    overflow: hidden; 
    background-color: #fff;
  
  .allprod-imgehead-wrp {
     width: 70%;
     max-height: 200px;
     min-height: 220px;
     @include displayFlex();
  
    a {
      max-width: 100%;
      height: auto;
    }
     .allprod-img-head {
      height: auto;
      width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }

.allprod-prodthub-caption {
  width: 100%;
  padding: 10px;
  @include displayFlex();
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

 
}
}
.allprod-badge-offer{
  position: absolute;
  top:5px;
  left: 0;
  z-index: 3;
  width: 75px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
  height: 25px;
  @include displayFlex;
  justify-content: flex-start;
  color: #fff;
  font-size: 13px;
 background-color: var(--bs-red);
 box-shadow: 0 0 1px 0 #000;
}
.allprod-thumb-fav {
  position: absolute;
  top:5px;
  right: 5px;
  z-index: 3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  
 .allprod-addfav-false,
 .allprod-addfav-true {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  @include displayFlex();
  cursor: pointer;
  transition: transform 0.2s;
 

  &:hover {
     transform: scale(1.05);
  }
  }
  .allprod-addfav-false {
    background-image: url('./images/allproducts/fav-none.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .allprod-addfav-true {
    background-image: url('./images/allproducts/fav-added.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.allprod-cap-rating-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  .react-stars {
    span {
      font-size: 20px !important;
    }
  }
  p {
    font-size: 14px;
    @include displayFlex();
    font-weight: bold;
    margin-top:4px;
    margin-left:5px;
    cursor: pointer;
    &:nth-of-type(2) {
      font-weight: normal;
      margin-left:3px;
    }
  }
}

.allprod-cap-brandname,
.allprod-cap-prodtitle,
.allprod-cap-prodprice,
.allprod-cap-prodactions {
  display: flex;
  width: 100%;
}
.allprod-cap-brandname {
  @include displayFlex();
  justify-content: space-between;
  background-color: var(--bs-lightgray);
  height: 40px;
  }
 

.allprod-cap-prodtitle {
  font-size: 15px;
  display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
line-clamp: 2;
-webkit-line-clamp: 2;
}

.allprod-cap-prodprice {
  font-weight: bold;
  font-size: 16px;
@include displayFlex();
justify-content: flex-start;

  span {
    margin-left:5px;
    text-decoration: line-through;
    font-size: 15px;
    color: var(--bs-red);
    
  }
}
.allprod-cap-prodactions {
  position: relative;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  

  button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    border-radius: 3px;
    background-color: var(--bs-orange);
    color: #fff;
    transition: background-color 0.2s;
    i {
      font-size: 17px;
      margin-right: 7px;
      color: var(--bs-darkgray);
      transition: color 0.2s;
    }
    &:nth-child(2) {
      display: none;
    }
    &:hover {
      background-color: var(--bs-orange-hover);
      i {
        color: #fff;
      }
    }
  }


 
}
 
 .allprod-filterbtn-sm-showwrp {
  width: 100%;
  display: none;
  justify-content: flex-end;
  
  button {
    border: 1px solid var(--bs-orange);
color: var(--bs-orange);
padding: 5px 13px;
font-size: 15px;
border-radius: 4px;
margin:15px 10px;
background-color: var(--bs-orange);
color: #fff;
font-weight: bold;
  }
 }

// Pagination

.pagination-products {
  width: 100%;
  @include displayFlex();
  list-style-type: none;
  justify-content: flex-end;
  margin:10px 5px;
  background-color: #fff;
  padding: 5px 0;
  li {
    margin:4px;
    border:1px solid var(--bs-lightgray);
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 4px;

    a {
      width: 100%;
      height: 100%;
    @include displayFlex();
    border:1px solid transparent;
    font-size: 14px;
     
    &:hover {
      border:1px solid var(--bs-orange);
    }

    }
  }
  .previous,.next {
    border:none;
    width: auto;

    a {
      height: 30px;
      padding: 0 5px;
      border-radius: 4px;
      border:1px solid var(--bs-orange);
    }
  
    
  }
  .selected {
    background-color: var(--bs-orange);
    font-weight: bold;
    color: #fff;
  }
}


// All products - list view

.allprod-thumb-list {
  flex-direction: row;
  justify-content: flex-start;
}

.allprod-wrapper-list-view {
  display: block;
  min-height: auto;
  min-width: 250px;

.appprod-proditem-list-view {
  max-width: 100%;
  width: 100%;
 flex-basis: 100%;
 max-height: 200px;

 .allprod-product-thumb {
 
  .allprod-imgehead-wrp {
    width: 40%;
  }
  img {
    max-height: 200px;
    max-width: 200px;
    min-width: 150px;
    padding: 23px;
  }
  .allprod-thumb-fav {
    right: 0;
    left:5px;
  }
 }
}
.allprod-cap-prodactions {
  justify-content: flex-end;
  margin-top:30px;

  button {
    width: 200px;
    &:nth-child(2) {
      display: none;
      width: 50px;

      i {
        margin-right: 0;
      }
    }
  }
 
}
 

}
.allprod-mobilelist-btn {
  display: none !important;
}


@media (max-width: 1399.98px) { 
}



@media (max-width: 1120px) {

}


@media (max-width: 991.5px) {
  .allprod-wrpdwrap-proditem {
    max-width: 50%;
    flex-basis: 50%;
  }
  .allprod-filters-cont {
    width: 280px;
  }
  .allprod-wrprdhead-sortby {
    width: auto;
    justify-content: flex-end;
    .input-group-addon {
      display: none;
    }
  }
  .allprod-wrprdhead-bottomrwp {
    .allprod-wrphead-viewbtb-txt {
      display: none;
    }
  }
  .pagination-products {
    justify-content: center;
  }
}


@media (max-width: 767.5px) {
  .allproducts-container {
    max-width: 100%;
    padding: 0px;
  }
  .allprod-filterbtn-sm-showwrp {
    display: flex;
  }
  .allprod-filters-cont {
    transform: translateX(-100%);
    width: 100%;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    border:solid orange;
    overflow: hidden;
    transition: transform 0.2s;
    
  }
  .open-mob-filter {
    transform: translateX(0);
  }
  .allprod-filters-cont-wrap {
    overflow-y: auto;
    padding-bottom: 100px;
    .ap-filbox-activefilters-wrap {
      display: flex;
    }
    .ap-filbox-afilwrp-title .allprod-afilwrpd-activefil-deleteallfilters {
      padding: 3px 10px;
      border:1px solid var(--bs-orange);
      text-decoration: none;
    }
    .allprod-filter-term {
      padding: 3px 10px;
      @include displayFlex();
      i {
        font-size: 15px;
      }
    }
    .allprod-fbox-wrap .form-group {
      padding: 5px 0;
    }
    .allprod-box-wrapcolor {
      justify-content: flex-start;
    }
    .ap-box-filbox-color {
      width: 38px;
      height: 38px;

      &:hover {
        .apbox-filbox-colname {
          display: none;
        }
      }
    }
  }
  .allprod-wrprdhead-sortby {
    display: none;
  }
  .allprod-wrpd-wrapper {
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    position: relative;
  }
  .allprod-wrprdhead-sortby {
    select {
      font-size: 14px;
    }
  }
  .allprod-wrprdhead-viewbtns {
    order: 3;
    display: flex;
  }
  .allprod-wrprdhead-bottomrwp .view-list-button {
    width: 35px;
    height: 35px;
    border-radius: 0;
  }
  .allprod-wrprhead-mobfilter {
    display: flex;
  }
}


@media (max-width: 576.5px) {
  .allproducts-container {
    max-width: auto;
  }
}

@media (max-width: 500px) {
  .allprod-wrprhead-mobfilter {
    margin-right: 5px;
    padding: 3px;
    span {
      font-size: 13px;
      &:nth-of-type(2) {
        font-size: 10px;
      }
    }
  } 
  .allprod-cap-rating-wrapper {
    p {
      font-size: 11px;
    }
  }
  .allprod-wrpdwrap-proditem {
    padding: 2px;
  }
  .allprod-cap-prodactions {
    button {
      font-size: 13px;
      i {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 420px) {
  .allprod-wrapper-list-view {
    .allprod-prodthub-caption {
      .allprod-cap-prodtitle, .allprod-cap-prodprice, .allprod-cap-prodactions, .allprod-cap-rating-wrapper {
        justify-content: flex-end;
      }
    }
    .allprod-cap-prodactions {
      button {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
     
    }


  }
}


@media (max-width: 390px) {
  .allprod-wrprdhead-bottomrwp {
    flex-direction: column;
    align-items: flex-start;
  }
  .allprod-wrprhead-mobfilter {
    margin-right: 0;
  }
  .allprod-cap-rating-wrapper .react-stars span {
    font-size: 17px !important;
  }
  .allprod-wrprdhead-viewbtns {
    margin-top:5px;
  }

  .allprod-wrapper-list-view {
  .appprod-proditem-list-view {
    .allprod-product-thumb {
      img {
        min-width: 125px;
      }
    }
  }
}

}


