@import './layout/mixin.scss';


.contact-container {
    width: 100%;
    
    .container {
        border-radius: 5px;
        min-height: 400px;
        background-color: #fff;
        @include displayFlexColumn();
        padding: 20px 15px;
        margin-bottom: 50px;
    }
}

.contact-container-wrapper {
    width: 100%;
    display: flex;
}
.contact-cwrp-left {
    width: 25%;
    min-height: 300px;
}
.contact-cwrp-mid {
    width: 50%;
    min-height: 300px;
    padding: 0 20px;
 
    .contact-mid-wrpbtn {
        width: 100%;
        @include displayFlex;
       
    }
    button[type="submit"] {
            max-width: 100%;
            width: 300px;
    background-color: var(--bs-orange);
    color: #fff;
    

    &:hover {
        background-color: var(--bs-orange-hover);
        color: #fff;
    }

    }
    #contact-msg-success {
        color: #fff;
        width: 100%;
        text-align: center;
        background-color: green;
        padding: 5px;
        border-radius: 5px;
        margin-top:20px;
    }
}
.contact-cwrp-right {
    width: 25%;
}
.contact-cwrpright-box {
    @include displayFlexColumn();
    margin-bottom: 20px;

    .contact-cright-title {
        font-weight: bold;
        font-size: 19px;
        color: #000;
        margin-bottom: 8px;
    }
    .contact-cright-smtitle {
        font-size: 15px;
        color: #000;
    }
    .contact-cright-notitle {
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: bold;

    }
}
.contact-cwrp-left {
    .accordion-header {
        button {
            position: relative;

            &:before {
                position: absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
                height: 90%;
                width: 2px;
                background-color: var(--bs-orange);
                content: '';
            }
        }
    }
    .accordion-body {
        ul {
            li {
                list-style: none;
                font-size: 16px;
                transition: color 0.2s;

                &:hover {
                    color: var(--bs-orange);
                }
            }
        }
    }
    .accordion-button:not(.collapsed) {
        background-color: rgba(216, 142, 5, 0.5);
        box-shadow: none;
        color: #000;
        &:before {
            display: none;
        }

       
    }
    .accordion-button:focus {
        border-color: rgba(216, 142, 5, 0.5);
        box-shadow:none;
    }
    .contact-acc-disablelink {
        opacity: 0.6;
    }
}

 
@media (max-width: 991.5px) {
    .contact-container-wrapper {
        flex-direction: column;
    }
    .contact-cwrp-left {
        order: 3;
        width: 100%;
        margin-top:25px;
    }
    .contact-cwrp-mid {
        width: 100%;
        display: flex;
        flex-direction: column;
        order:1;

    }
    .contact-cwrp-right {
        width: 100%;
        order:2;
        margin-top:25px;

    }
}

 