@import './layout/mixin.scss';


.myaccount-container {
    width: 100%;

    .container {
        @include displayFlexColumn();
  

        h4 {
            width: 100%;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--bs-darklight);
        }
    }
}

.myacc-default-box {
    padding: 15px;
    min-height: 300px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-top-right-radius: 5px;
    background-color: var(--color-white); 
 
}
.myaccount-cont-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.myacc-cont-half-leftmenu {
    width: 25%;
    min-height: 300px;
    background-color: var(--color-white);
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    @include displayFlexColumn;
    align-items: flex-end;

    .contact-ullist-left {
        list-style: none;
        margin:0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 0.2s;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: color 0.2s;
            min-height: 40px;
            @include displayFlex();
            align-items: flex-end;
            justify-content: flex-start;
            font-weight: bold;
            padding-bottom: 3px;
            border-bottom: 1px solid var(--bs-darklight);
            cursor: pointer;
            font-size: 15px;
            @include disable-select();

            &:nth-last-child(1) {
                border-bottom: none;
            }


            svg {
                height: 20px;
                width: 20px;
                margin-right: 5px;
                transition: color 0.2s;
                color: var(--bs-darkgray);
            }
            &:hover {
                color: var(--bs-orange);
                svg {
                    color: var(--bs-darkgray);
                }
            }
        }

        li {
          
        }
    }
 
}

.myacc-conthalfcont-userdetails-wrp {
    width: 100%;
    @include displayFlex;
    justify-content: flex-start;
}
 
.myaccount-cont-det-gmail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.myacccont-cont-details {
    width: 100%;
}
 
.myacc-cont-half-content {
    width: 75%;
    display: flex;
    padding:0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    #myacc-user-avatar {
        max-width: 100%;
        width: 100px;
        border-radius: 50%;
    }
}
.myaccount-cont-det-gmail,
.myaccount-cont-det-normal {
    
    width: 100%;
    padding-left: 15px;


    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--bs-darklight);
        font-size: 15px;
        margin-bottom: 5px;

        span {
            &:first-child {
                font-weight: bold;
            }
        }
    }
}



.myacc-stitle-def {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--bs-darkgray);
    font-size: 17px;
}

.myacc-conthalfcont-activity-wrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.myacccont-activity-box {
    width: calc(100% / 3 - 15px);
    @include displayFlex;
    align-items: flex-start;

    ul {
        list-style: none;
        margin:0;
        width: 100%;
        min-height: 120px;
        padding: 10px 0 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            font-size: 15px;
            a {
                font-size: 14px;
            
                color:var(--color-blue);
                &:hover {
                    opacity: 0.9;
                    text-decoration: underline;
                }
            }
        }
    }

    svg {
        height: 55px;
        width: 55px;
    }
    
}

.myacccont-activity-orders {
    svg {
        fill: var(--bs-orange);
    }
}

.myacccont-activity-boxfav {
    svg {
       fill: var(--bs-red);
    }
}
.myacccont-activity-reviews {
    svg {
        fill: #f29d38;
    }
}


// price alerts

.myacc-conthalf-cont-pricealerts {
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        width: 100%;
        
        li {
            width: 95%;
            min-height: 40px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            border:1px solid transparent;
            border-bottom: 1px solid rgba(211, 211, 211, 0.2);
            transition: border 0.2s;


            &:hover {
               border:1px solid rgba(211, 211, 211, 0.2);
        
                button {
                    border:1px solid rgba(211, 211, 211, 0.2);
                    color: var(--bs-orange);
                
                }
            }
            
            a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;


                img {
                    max-width: 100%;
                    width: 80px;
                    height: 80px;
                    object-fit: contain;

                }
                p {
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 5px;
                    font-weight: bold;
                    font-size: 14px;
                    width: 100%;
                    text-align: left;
                }
         
                }
                button {
                    width: 30px;
                    height: 30px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                   color: rgba(211, 211, 211, 0.8);
                   border:1px solid transparent;    
                   transition: border 0.2s, color 0.2s;
                    &:hover {
                        opacity: 0.6;
                    }

            }
    

        }
    }
    .myacc-alert-emptymsg {
        width: 100%;
        text-align: left;
        font-size: 17px;
    }
 }
    


 #user-accform-address {
    width: 100%;
 }
.myacc-address-box input {
    &::placeholder {
        font-size: 13px;
    }
 }
 .myacc-conthalf-cont-activity,
 .myacc-conthalf-cont-userdetails {
    min-height: 100px;
   }
.myacc-cotnhalf-left-mobhambmenu {
    cursor: pointer;
    display: none;
    svg {
        font-size: 35px;
    }
}

   
 

@media (max-width: 991.5px) {
    .myaccount-cont-wrapper {
        flex-direction: column;
    }
    .myacc-cont-half-leftmenu,
    .myacc-cont-half-content {
        width: 100%;
        margin-bottom: 20px;
    }
    .myacc-cont-half-leftmenu {
        min-height: auto;
    }
    .myacc-cont-half-content {
        padding: 0;
    }

    .myacc-cont-half-leftmenu {
        .hidemob-ul-list {
             max-height: 0;
         }
        }
        .myacc-cotnhalf-left-mobhambmenu { 
            display: block;
        }
}

@media (max-width: 767.5px) {
    .myacc-conthalfcont-userdetails-wrp,
    .myacc-conthalfcont-activity-wrp {
        display: flex;
        flex-direction: column;
    }
    .myacccont-cont-details {
        margin-top:20px;
    }
    .myacccont-activity-box {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 576.5px) {
    .chck-type-sec {
        flex-direction: column;
    }
    .chcktype-secaddress-wrp,
    .chck-type-sec div {
        width: 100%;
    }
 
}
