@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin displayFlexColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
@mixin elipsisText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 
// line-clamp: 2;
// -webkit-line-clamp: 2;